:root {
    --nintendoRed:  rgba(216, 0, 0, 0.76);
    --xBoxGreen: rgba(0, 105, 9, 0.795);
    --playstationBlue: rgba(0, 17, 255, 0.644); 
    --steamLight: rgba(219, 219, 219, 0.863);
    --offWhite: rgb(230, 227, 227); 
}
* {
    box-sizing: border-box;
    
}

.nav-style {
    padding: 1rem 1rem 0 1rem;
}

.searchbar-style {
    margin-right: 1rem;
}

body {
    background-color: rgb(39, 39, 39);
    
}

.search-results, .anime-class {
    border-radius: 5px;
}

#h1text {
    padding-top: 10rem;
}

/* Base Theme AKA Light Mode*/
h1 {
    font-family: 'Press Start 2P', cursive;
    color: var(--offWhite);
}
h2 {
    font-family: 'Share Tech Mono', monospace;
    color: var(--offWhite);
}
#console-wars {
    font-family: 'VT323', monospace;
    font-weight: bolder;
    font-size: 3rem;
    color: var(--offWhite);
}
.project-title {
    padding: 3rem;
} 
.search-results h1 {
    font-family: 'VT323', monospace;
}
.search-results p {
    font-family: 'Share Tech Mono', monospace;
}
.search-results-anime h3 {
    font-family: 'VT323', monospace;
    padding-bottom: 5px;
}

.anime-stream-style {
    font-family: 'Share Tech Mono', monospace;
    padding-bottom: 5px;
}

.search-results-anime p {
    font-family: 'Share Tech Mono', monospace;
}

#anime-rating-stream-div {
    padding-top: 5px;
}

#game-results, #anime-results{
    font-size: 3rem;
    font-family: 'Share Tech Mono', monospace;
    color: var(--offWhite);
    text-align: center;
} 
/* Playstaion Theme */ 
.playstation-button {
    transition: all 0.2s ease-in-out;
}
.playstation-button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px var(--playstationBlue);
}
.playstation-theme .search-results{
    transition: all 0.2s ease-in-out;
    box-shadow: 0 5px 15px var(--playstationBlue);
} 
.playstation-theme .search-results-anime{
    transition: all 0.2s ease-in-out;
    box-shadow: 0 5px 15px var(--playstationBlue);
} 
/* xbox Theme */ 
.xbox-button {
    transition: all 0.2s ease-in-out;
}
.xbox-button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px var(--xBoxGreen);
}
.xbox-theme .search-results{
    transition: all 0.2s ease-in-out;
    box-shadow: 0 5px 15px var(--xBoxGreen);
} 
.xbox-theme .search-results-anime{
    transition: all 0.2s ease-in-out;
    box-shadow: 0 5px 15px var(--xBoxGreen);
} 
/* Steam Theme AKA Dark Mode*/ 
.steam-button {
    transition: all 0.2s ease-in-out;
}
.steam-button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px var(--steamLight);
}
.steam-theme .search-results{
    transition: all 0.2s ease-in-out;
    box-shadow: 0 5px 15px var(--steamLight);
} 
.steam-theme .search-results-anime {
    transition: all 0.2s ease-in-out;
    box-shadow: 0 5px 15px var(--steamLight);
} 
/* Nintendo Theme */ 
.nintendo-button {
    transition: all 0.2s ease-in-out;
}
.nintendo-button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px var(--nintendoRed);
}
.nintendo-theme .search-results{
    transition: all 0.2s ease-in-out;
    box-shadow: 0 5px 15px var(--nintendoRed);
} 
.nintendo-theme .search-results-anime {
    transition: all 0.2s ease-in-out;
    box-shadow: 0 5px 15px var(--nintendoRed);
} 

